* {
  box-sizing: border-box;
}

body {
  height          : 100%;
  width           : 100vw;
  background-color: aqua;
  padding         : 2rem;
}

.App {
  border               : 1px black solid;
  display              : grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows   : 10vh 80vh;
  grid-template-areas  :
    "nv nv"
    "pr bs";
  gap    : 1rem;
  padding: 1rem;
}

.Navigation {
  grid-area: nv;
}

.ProductList {
  grid-area            : pr;
  display              : grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap             : 40px;
  overflow-y           : scroll;

}

.Navigation {
  border: 1px blue solid;
}

.Product {
  border: 1px solid red;
}

.Product img {
  width: 100%;
}

.Basket {
  border   : green 1px solid;
  grid-area: bs;
}

.MyBasket {
  border: chocolate solid 1px;
}

.CheckoutForm {
  border: yellow solid 1px;
  height: 30vw;
}

.soldOut {
  background: rgb(177, 7, 78);
}